<div id="inicio" class="uk-position-relative uk-visible-toggle  slider" tabindex="-1"
    uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 4000;">

    <div class="uk-slideshow-items">
        <!-- Slide 1 -->
        <div class="uk-padding-large  slide-content">
            <img style="filter: brightness(80%);" class="uk-position-cover uk-animation-reverse"
                uk-scrollspy="cls: uk-animation-kenburns; repeat: true"
                src="https://datacom.com/content/dam/images/admin/insights/cloud/cloud-and-insights-report/2022/CloudInfrastructureReport_HeroCoverImage_1920x1080px.gif"
                alt="Referral Program" uk-cover>

            <div class="uk-container uk-position-center uk-text-left uk-child-width-expand@s" uk-grid>
                <div class="uk-margin-medium-bottom">
                    <div class="uk-card uk-card-body uk-padding uk-container">
                        <h1 class="hero-title">
                            <strong>Créditos</strong> para lançar, escalar e migrar seu negócio na Nuvem
                        </h1>
                        <p class="hero-subtitle">
                            Ganhe vouchers exclusivos para utilizar na Clouds2Africa. <br> Transforme sua
                            infraestrutura digital com o apoio da Angola Cables.
                        </p>
                        <div class="uk-text-left uk-margin-top uk-flex uk-flex-left uk-flex-middle uk-gap">
                            <a routerLink="/candidatura">
                                <button class="uk-button hero-btn uk-border-pill">Candidatar-se</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <div class="uk-light">
        <a style="color:black" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a style="color:black" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>