<div  id="elegibilidade" class="uk-container ">
  <div class="uk-grid uk-grid-collapse uk-child-width-1-1 uk-child-width-1-2@m uk-text-left" uk-grid>
    <!-- Image Column -->
    <div class="uk-flex uk-flex-center uk-flex-middle scroll-fade" scrollAnimate>
      <div class="uk-text-center uk-padding">
        <img class="participar-image" src="img/conectar-cloud.png" alt="Quem pode participar" />
      </div>
    </div>

    <!-- Content Column -->
    <div  class="uk-flex uk-flex-middle">
      <div class="uk-padding">
        <p class="participar-titulo">
          Quem pode participar?
        </p>

        <div class="accordion-container scroll-left" scrollAnimate>
          <ul uk-accordion="collapsible: false" class="glass-accordion">

            <li>
              <a class="uk-accordion-title" href="#"> Instituições públicas e privadas em migração para a nuvem 
              </a>
              <div class="uk-accordion-content"> 
                <p>Entidades que desejam libertar-se das limitações da infraestrutura tradicional (on-premise),
                  beneficiando-se da flexibilidade, resiliência e segurança da Clouds2Africa. O ACeleraCloud apoia todo
                  o processo de transição, desde a análise inicial até à implementação, assegurando continuidade
                  operacional, conformidade regulatória e soberania de dados.</p>
              </div>
            </li>


            <li>
              <a class="uk-accordion-title" href="#">Negócios com necessidade de expansão
              </a>
              <div class="uk-accordion-content">
                <p>Organizações com procura comercial crescente, que necessitam de soluções digitais capazes de
                  acompanhar a evolução da sua base de clientes e operações. Ao aderirem ao programa, estas empresas
                  encontram recursos para escalar com eficiência, reduzir custos operacionais e explorar novas
                  oportunidades em mercados locais e internacionais.
                </p>
              </div>
            </li>


            <li class="uk-open">
              <a class="uk-accordion-title" href="#">
                Startups com MVP ou produto em operação
              </a>
              <div class="uk-accordion-content">
                <p>Negócios inovadores que já validaram as suas ideias no mercado e precisam agora de infraestrutura
                  escalável, estável e segura para acelerar o lançamento, garantir disponibilidade e conquistar novos
                  clientes. O programa oferece créditos cloud, mentoria técnica e suporte estratégico para transformar
                  MVPs em produtos robustos e prontos para o crescimento.</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>