<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- First Column: Address and Google Maps -->

            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">

                <p><b> {{ 'links_uteis' | translate }}</b> </p>
                <ul class="footer-links">
                  
                    <li><a href="https://aceleranet.ao/">AceleraNet</a></li>
                                        <li><a href="https://partners.angolacables.co.ao/">AC Global Partners Program</a></li>

                    <li><a href="https://angolacables.co.ao/">Angola Cables SA</a></li>

                </ul>
            </div>
            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">
                <p><b> {{ 'contacto' | translate }} </b></p>
                <p> <a class="link" href="mailto:support@clouds2africa.com">support&#64;clouds2africa.com</a></p>
            </div>
            <div class="footer-column">
                <img src="img/ac-partner-logo 1.png">

            </div>
        </div>
    </div>

</footer>
<footer>
    <div class="txt-footer uk-text-center uk-margin-small-top uk-margin-small-bottom">
        &copy; {{ 'copyright' | translate }}
    </div>
</footer>