<div class="uk-position-relative">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-left">
                    <a style="margin-right: 5px " href="#inicio" uk-scroll="offset: 100" class="texto">
                        <img class="uk-border-rounded" style="height: auto; width: 180px; "
                            src="/img/ac-partner-logo.png">
                    </a>
                </div>

                <div class="uk-navbar-center uk-visible@m">
                    <ul class="uk-navbar-nav uk-text-left" uk-scrollspy-nav="closest: li; offset: 80">
                        <li><a href="#o-que-e" uk-scroll>O QUE É?</a></li>
                        <li><a href="#elegibilidade" uk-scroll>ELEGIBILIDADE</a></li>
                        <li><a href="#porque" uk-scroll>BENEFÍCIOS</a></li>
                        <li><a href="#como" uk-scroll>COMO PARTICIPAR?</a></li>
                        <li ><a  routerLink="/candidatura"  uk-scroll> CANDIDATURA </a></li>
                    </ul>
                </div>

                <div class="uk-navbar-right uk-visible@m">
                    <ul class="uk-navbar-nav">
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div class="uk-hidden@m">
        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar>
                    <div class="uk-navbar-left">
                        <a href="#inicio" uk-scroll="offset: 100" class="texto">
                            <img class="uk-border-rounded" style="height: auto; width: 100px;"
                                src="/img/ac-partner-logo.png">
                        </a>
                    </div>

                    <div class="uk-navbar-right">
                        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"
                            uk-toggle="target: #offcanvas-nav"></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default uk-margin-medium-left uk-nav-parent-icon"
                uk-scrollspy-nav="closest: li; offset: 80">
                      <li><a href="#o-que-e" uk-scroll>O QUE É?</a></li>
                        <li><a href="#elegibilidade" uk-scroll>ELEGIBILIDADE</a></li>
                        <li><a href="#porque" uk-scroll>BENEFÍCIOS</a></li>
                        <li><a href="#como" uk-scroll>COMO PARTICIPAR?</a></li>
                        <li ><a  routerLink="/candidatura"  uk-scroll> CANDIDATURA </a></li>
                    </ul>
        </div>
    </div>
</div>