/* You can add global styles to this file, and also import other style files */
body, a, p, h1, h2, h3, h4, li, ul {
  
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    

}   

.scroll-fade {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.scroll-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.6s ease;
}

.scroll-right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.6s ease;
}

.animate {
  opacity: 1;
  transform: translate(0);
}