<div id="o-que-e" class="uk-margin-large-top uk-background-muted uk-section">

    <div class="uk-container uk-margin-small-top uk-margin-small-bottom">
        <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-text-center" uk-grid>
            <div class="uk-flex uk-flex-middle">
                <div class="uk-card uk-card-body uk-padding-remove-horizontal uk-text-left">
                    <h2 class="titulo-1 scroll-left" scrollAnimate>
                        O que é o programa AceleraCloud?
                    </h2>
                    <p class="descricao-1 scroll-left" scrollAnimate>
                        O Acelera Cloud é um programa de aceleração de negócios digitais da Angola Cables que fornece aos participantes os
                        recursos necessários para <strong>migrar</strong>, <strong>escalar</strong> e
                        <strong>lançar</strong> negócios na <strong> Clouds2Africa</strong>.
                        <br><br>
                        O programa concede <strong>créditos de valor variável</strong> para utilizar na Clouds2Africa, suporte
                        de especialistas da Angola Cables para migração de cargas de trabalho de infraestruturas locais
                        (on-premise)
                        para a nuvem. Além disso, o Acelera Cloud dá acesso exclusivo ao <a target="_blank"
                            href="https://partners.angolacables.co.ao/"> Programa Global de Parceiros da Angola Cables</a>.
                    </p>
                </div>
            </div>

            <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-text-center scroll-left" scrollAnimate>
                    <img class="imagem" src="img/cloud-banner-2.png" alt="" width="100%"
                        height="auto">
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-body">
        <app-angolacables></app-angolacables>
    </div>
</div>